name: Build Plugins

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: '1.3.6'
      - run: bun install
      - run: bun run typecheck --force
      - run: bun run test --force
      - run: bun run build --force
